<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>HBPackageNameHeaderCell</string>
			<key>packageIdentifier</key>
			<string>com.yakir.powerxs</string>
			<key>backgroundGradientColors</key>
			<array>
				<string>#2c2e30</string>
				<string>#2c2e30</string>
			</array>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>label</key>
			<string>DevelopApple</string>
			<key>user</key>
			<string>DevelopApple</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.yakir.powerxsprefs</string>
			<key>label</key>
			<string>Enabled</string>
			<key>key</key>
			<string>kEnabled</string>
			<key>alternateColors</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Customization</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>label</key>
			<string>Style</string>
			<key>key</key>
			<string>kUIStyle</string>
			<key>default</key>
			<integer>1</integer>
			<key>validTitles</key>
			<array>
				<string>Default</string>
				<string>Modern</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>defaults</key>
			<string>com.yakir.powerxsprefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>PowerXSDefSettingsController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Default Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>PowerXSModernSettingsController</string>
			<key>isController</key>
			<true/>
			<key>label</key>
			<string>Modern Settings</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cellClass</key>
			<string>HBLinkTableCell</string>
			<key>label</key>
			<string>Support me</string>
			<key>url</key>
			<string>https://patreon.com/ConorTheDev</string>
			<key>icon</key>
			<string>/Library/PreferenceBundles/PowerXSPrefs.bundle/paypal.png</string>
		</dict>
	</array>
	<key>title</key>
	<string>PowerXS</string>
</dict>
</plist>
